commands:
  01_npm_install:
    command: npm install --production
    cwd: /var/app/current

  02_install_pm2:
    command: npm install pm2 -g
    cwd: /var/app/current

container_commands:
  03_build_client:
    command: |
      cd client
      npm install --production
      npm run build
      cd ..

  04_install_api_dependencies:
    command: |
      cd api
      npm install --production
      cd ..

  05_start_pm2:
    command: pm2-runtime start ecosystem.config.js
    cwd: /var/app/current
