container_commands:
  01_install_dependencies:
    command: |
      npm install 
    

  02_start_pm2:
    command: |
      npm install -g pm2
      pm2 delete all || true  # Stop any currently running PM2 processes
      pm2 start ecosystem.config.js

option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
